.en-alarm-tip[data-v-a36438b2]{margin-top:6px;font-size:12px;line-height:16px;color:var(--en-text-2)}.en-alarm-block[data-v-a36438b2]{width:100%;display:flex;flex-direction:column;gap:6px}[data-v-a36438b2] .el-dialog{max-width:760px}
